/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

body {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.one {
  height: 100vh;
  background-color: white;
  width: 35vw;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #b5d7ff;
  width: 65vw;

}
img {
  width: 100%;
  height: auto;
}
.name {
  font-family: 'Raleway', sans-serif;
  font-size: 3vh;
  line-height: 70px;
  margin-left: 5vw;
}
.webd {
  pidding: 0px;
  margin: 0px;
  font-family: "Martian Mono", monospace;
}
.mail {
    font-size: 1vw;
    font-weight: bold;
    background-color: black;
    font-family: 'Martian Mono', monospace;
    border: 0px;
    padding: 0.7vw 3vw;
    color: white;
    text-decoration: none;
    margin-left: 6vw;
    
}

.resume{
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Martian Mono', monospace;
    border: 3px solid black;
    padding: 10px 60px;
    color: black;
    text-decoration: none;
}

#res2{
  margin-left: 10px;
}
#sone{
  margin: 20vh 10vw;
}
#aboutme{
  font-family: 'Gloock', serif;
  font-size: 6vh;
}
hr{
  margin-top:  6vh;
  margin-bottom: 5vh;
  height: 1px;
  background-color: black;
  border: none;
}
#bio{

  font-family: 'Poppins', sans-serif;
}
#social{
  margin:20px 0px;
  size: 20vw;
}
#res{
  margin: 5vh 0;
}
.s{
  font-size: 100px;
}